@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

// #anime-container {
//     display: grid;
//     grid-template-columns: repeat(6, 1fr);
//     column-gap: 50px;
// }

body {
    overflow: scroll;
    overflow-x: hidden;
}

#app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#anime-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 500px;

    a {
        margin: 0;
        padding: 0;
    }

    img {
        width: 225px;
        height: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    p, h3 {
        text-align: center;
        margin-top: 0px;
        margin-bottom: 20px;
        word-break: break-all;
        font-family: 'PT Sans', sans-serif;
        font-size: 16px;
    }
}

h2 {
    margin-bottom: 0px;
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 64px;
    margin-top: 0px;
}

.anime-ratings {
    padding: 3px;
    margin: 8px;
}